*{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;

    background-color: rgb(247, 245, 245);
    color: #2C3B2D;

    font-weight: bolder;
}