<div class="content-about-the-company">
    <div class="text">
        <h1>SERIEDADE EM PRIMEIRO LUGAR</h1>
        <P>Da paixão pelo agro à liderança no mercado, a Adubo Fácil 
          Fertilizantes nasceu com o compromisso de transformar a 
          produtividade do campo. Com soluções inovadoras e de 
          qualidade, fazemos parte do segmento que mais cresce no mundo, 
          atendendo pequenos, médios e grandes produtores, impulsionando a 
          produção agrícola de forma sustentável e eficaz!
        </P>
    </div>
    <img src="Group 114.png" class="img-fluid" alt="about-the-company">
</div>
