<div class="content-about-the-company">
    <div class="text">
        <h1>SERIEDADE EM PRIMEIRO LUGAR</h1>
        <P>Nossa empresa oferece adubos e fertilizantes de alta 
            qualidade para lavouras de soja. Consulte nossos especialistas 
            para escolher o produto certo. Nossa linha inclui opções orgânicas e 
            químicas. Aumente sua produtividade e reduza custos! Garantia de qualidade e 
            suporte técnico
        </P>
    </div>
    <img src="Group 114.png" class="img-fluid" alt="about-the-company">
</div>