<div class="nav-bar">
  <nav class="navbar nav justify-content-center navbar-expand-lg ">
      <div class="container-fluid ">
          <img 
            src="logo-adulbo-vitor.png" 
            alt="Logo" 
            width="94" 
            height="84" 
            class="d-inline-block align-text-top"
          >
        <button 
            class="navbar-toggler" 
            type="button" 
            data-bs-toggle="collapse" 
            data-bs-target="#navbarSupportedContent" 
            aria-controls="navbarSupportedContent" 
            aria-expanded="true" 
            aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="#">HOME</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#PRODUCTS">PRODUTOS</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#HELP-AND-SUPPORT">CONTATO/SUPORTE</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#ABOUT-THE-COMPANY">SOBRE NÓS</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#SOCIA-MIDIA">MIDIAS SOCIAIS</a>
            </li>
          </ul>
        </div>
      </div>
  </nav>
</div>
