<div class="nav-bar">
  <nav class="navbar nav justify-content-center navbar-expand-lg" style="height: 5rem; justify-content: center;">
      <div class="container-fluid ">
          <img 
            src="adubofacil-logo-nova.png" 
            alt="Logo" 
            width="110" 
            height="80" 
            class="d-inline-block align-text-center"
          >
        <button 
            class="navbar-toggler" 
            type="button" 
            data-bs-toggle="collapse" 
            data-bs-target="#navbarSupportedContent" 
            aria-controls="navbarSupportedContent" 
            aria-expanded="true" 
            aria-label="Toggle navigation"
            style="color: #efefef;"
        >
            <span class="navbar-toggler-icon" style="height: 2.3rem; outline-color: #efefef;"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent" >
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link" href="#">HOME</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#PRODUCTS">PRODUTOS</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#HELP-AND-SUPPORT">CONTATO/SUPORTE</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#ABOUT-THE-COMPANY">SOBRE NÓS</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#SOCIA-MIDIA">MIDIAS SOCIAIS</a>
            </li>
          </ul>
        </div>
      </div>
  </nav>
</div>
