<div class="text-products" >
    <h1>NOSSOS PRODUTOS</h1>
    <p>Com a melhor qualidade do mercado</p>
</div>
<div class="products">
    <app-product
        imgProduct="image 11.png"
        productName="ULTRA GEL DE PLANTIO"
        productId="ultrageldeplantio"
        imgProductDetails="image 11.png"
        productDetails="O Ultra Geopolímero é um hidrogel para plantio capaz de reter a água da 
        chuva e da irrigação, cristalizá-la e soltar o líquido e os nutrientes 
        aos poucos, garantindo que as plantas permaneçam nutridas e hidratadas 
        mesmo em períodos de seca."
        budgetLink="https://wa.me/5517982026593?text=Ol%C3%A1%20gostaria%20de%20fazer%20um%20or%C3
        %A7amento%20do%20produto%20ULTRA-GEL-DE-PLANTIO."
    >
    </app-product>
    <app-product
        imgProduct="image 12.png"
        productName="FLEX OIL"
        productId="flexOil"
        productDetails="É um inseticida orgânico composto de óleo puro obtido a partir da prensagem a 
        frio das amêndoas de sementes de Neem.
        Indicado (Azadirachta Indica). São encontrados mais de 150 compostos bioativos presentes no Neem, 
        sendo que nove deles apresentam acão inseticida cientificamente comprovada."
        budgetLink="https://wa.me/5517982026593?text=Ol%C3%A1%20gostaria%20de%20fazer%20um%20or%C3%A7ament
        o%20do%20produto%20FLEX-OIL"
    ></app-product>
    <app-product
         imgProduct="image 14.png"
         productName="ULTRA DELLTOP"
         productId="ultradelltop"
         productDetails="O Ultra Dell-Top se torna verdadeiro aliado dos produtores 
         agrícolas para nutrir o solo e melhorar a qualidade e quantidade 
         de raizes aumentando assim a produtividade das plantações."
         budgetLink="https://wa.me/5517982026593?text=Ol%C3%A1%20gostaria%20de%20fazer%20um%20or%C3%A7ament
         o%20do%20produto%20ULTRA-DELLTOP"
    ></app-product>
    <app-product
        imgProduct="turfa gold - MV.png"
        productName="ULTRA TURFA GOLD"
        productId="ultraturfagold"
        productDetails="É um fertilizante organomineral classe A, fonte pura de 
        ácidos húmicos e fúlvicos, derivados da leonardita australiana (mundialmente 
        conhecida como fonte mais concentrada destes nutrientes)."
        budgetLink="https://wa.me/5517982026593?text=Ol%C3%A1%20gostaria%20de%20fazer%20um%20or%C3%A7ament
        o%20do%20produto%20ULTRA-TURFA-GOLD"
    ></app-product>
    <app-product
        imgProduct="04.14.08 + húmics - MV.png"
        productName="ULTRA 04-14-08 + HÚMICS"
        productId="ultra04-14-08+humics"
        productDetails="O Ultra 04-14-08 é um fertilizante de alta produtividade que atua no 
        metabolismo das plantas, possui um elevado complexo dos macros nutrientes mais importantes 
        para o desenvolvimento do seu cultivo. ele age diretamente na nutrição da planta, melhorando
         o metabolismo e ativando o equilíbrio nutricional, suprindo qualquer deficiência existente 
         de macro nutrientes em diversas culturas."
         budgetLink="https://wa.me/5517982026593?text=Ol%C3%A1%20gostaria%20de%20fazer%20um%20or%C3%A7ament
         o%20do%20produto%20ULTRA-04-14-08+HÚMICS"
    ></app-product>
    <app-product
        imgProduct="image 16.png"
        productName="ULTRA CORRESOLO (Calcário Líquido)"
        productId="ultracorresolo"
        productDetails="O Corresolo é um produto de alta concentração nano particulado, 
        fonde de cálcio e magnésio, capaz de neutralizar o efeito fito tóxico do alumínio,
         atingindo níveis de profundidades que podem chegar até 20cm abaixo da superfície de 
         formar regular e uniforme, o que garante um melhor efeito de calagem com um baixo 
         custo operacional."
         budgetLink="https://wa.me/5517982026593?text=Ol%C3%A1%20gostaria%20de%20fazer%20um%20or%C3%A7ament
         o%20do%20produto%20ULTRA-CORRESOLO(Calcário Líquido)"
    ></app-product>
    <app-product
        imgProduct="img_ultra-20-50-humics_MV.png"
        productName="ULTRA 20-05-20 + HÚMICS"
        productId="ultra20-05-20"
        productDetails="O Ultra 20-05-20 é um fertilizante de alta produtividade que atua no 
        metabolismo das plantas, possui um elevado complexo dos macros nutrientes mais 
        importantes para o desenvolvimento do seu cultivo. ele age diretamente na nutrição da 
        planta, melhorando o metabolismo e ativando o equilíbrio nutricional, suprindo qualquer 
        deficiência existente de macro nutrientes em diversas culturas."
        budgetLink="https://wa.me/5517982026593?text=Ol%C3%A1%20gostaria%20de%20fazer%20um%20or%C3%A7ament
        o%20do%20produto%20ULTRA-20-05-50+HÚMICS"
    ></app-product>
    <app-product
        imgProduct="ultra-aminogel.png"
        productName="ULTRA AMINOGEL"
        productId="ultraaminogel"
        productDetails="O Ultra Aminogeo é um hidrogel para plantio capaz de reter a água da chuva e 
        da irrigação, cristalizá-la e soltar o líquido e os nutrientes aos poucos, garantindo que 
        as plantas permaneçam nutridas e hidratadas mesmo em períodos de seca."
        budgetLink="https://wa.me/5517982026593?text=Ol%C3%A1%20gostaria%20de%20fazer%20um%20or%C3%A7ament
        o%20do%20produto%20ULTRA-AMINOGEL"
    ></app-product>
    <app-product
        imgProduct="ultra-turfa-start.png"
        productName="ULTRA TURFA START"
        productId="turfastart"
        productDetails="É um fertilizante organomineral classe a, fonte pura de ácidos 
        húmicos e fúlvicos, derivados da leonardita australiana (mundialmente conhecida 
        como fonte mais concentrada destes nutrientes)."
        budgetLink="https://wa.me/5517982026593?text=Ol%C3%A1%20gostaria%20de%20fazer%20um%20or%C3%A7ament
        o%20do%20produto%20ULTRA-TURFA-START"
    ></app-product>
</div>