<div class="text-products" >
    <h1>NOSSOS PRODUTOS</h1>
    <p>Com a melhor qualidade do mercado</p>
</div>
<div class="products">
    <app-product
        imgProduct="image 14.png"
        productName="ULTRA DELLTOP"
    ></app-product>
    <app-product
        imgProduct="image 11.png"
        productName="ULTRA GEL DE PLANTIO"
    ></app-product>
    <app-product
        imgProduct="image 12.png"
        productName="FLEX OIL"
    ></app-product>
    <app-product
        imgProduct="image 16.png"
        productName="ULTRA GEL DE PLANTIO"
    ></app-product>
    <app-product
        imgProduct="img_ultra-20-50-humics_MV.png"
        productName="ULTRA 20-50-20 + HÚMICS"
    ></app-product>
    <app-product
        imgProduct="img_ultra-turfa-gold_MV.png"
        productName="ULTRA TURFA GOLD"
    ></app-product>
</div>