<div class="socia-media-content">
    <div class="medias-icons">
       <a href="https://www.instagram.com/adubo_facil/"> 
        <img src="instagram(icon).png" class="img-fluid" alt="instagram-icon" style="height: 3rem;"></a>
       <a href="https://wa.me/5517982026593?text=Ol%C3%A1%20gostaria%20de%20saber%20mais%20obre%20seus%20produtos."> 
        <img src="whatsapp-icon.png" class="img-fluid" alt="whatsapp-icon" style="height: 3rem;"></a>
    </div>
    <div class="footer">
        <p>Privacidade Reservada de Dados do Consumidor pela  ©ADUBOFACIL</p>
    </div>
</div>
